#editableWidget{
	overflow-y:auto;
}
.forms{
	   padding-bottom: 10px;
	   width: 250px;
       margin: 0 auto;
}
h3.sectorTitle{
	font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: none;
	display: block !important;
	color: #B2D234 !important;
	border: 0 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	width: 100% !important;

}

.incon{
	display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.iconClose{
	cursor: pointer !important;
	display: inline-block ;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 19px;
    height: 18px;
	background-image: url("https://s25.postimg.org/712kweqwv/close.png");/*Loading the image from the extension URL*/
}
.iconOk{
	background: url("https://s25.postimg.org/abvja167z/loading.gif");/*Loading the image from the extension URL*/
}
.leftMoveIcon{
	position: absolute;
	top: 10px;
	left: 5px;
	width: 20px;
    height: 20px;
	background-image: url("https://s25.postimg.org/j5mfr4t6n/leftWhite.png");
	cursor: pointer !important;
}

.listNewFormMappings{
	padding-bottom: 10px;
}
.listNewFormMappings .newObjectMapping
{
	font-weight: bold;
	width: 200px;
    display: inline-block;
    position: relative;
    color: #ffffff;
    line-height: 20px;
    cursor: pointer;
}
.listNewFormMappings .removeNewObject
{
	vertical-align: middle;
	position: absolute;
	right: 0px;
	width: 20px;
    height: 20px;
	background-image: url("https://s25.postimg.org/6xdctwatb/remove.png");
	cursor: pointer;
}
.newMappingsList{
	max-height: 100px;
	overflow: auto;
	padding-bottom: 10px;
}
.rightMoveIcon{
	position: absolute;
	top: 10px;
	width: 20px;
    height: 20px;
    left: 20px;
	background-image: url("https://s25.postimg.org/o0g4peri7/rightWhite.png");
	cursor: pointer !important;
}

.saveButtonWidget{
	border: 0 !important;
    background-color: #1abc9c !important;
    background: #1abc9c !important;
    color: #ffffff !important;
    cursor: pointer !important;
    transition: all 0.5s ease 0s !important;
    padding: 10px !important;
    box-shadow: none;
    border-color: none;
    line-height: 14px;
    min-width: 110px;
}
.saveButtonWidget:hover{
    background-color: #45ddbf !important;
}
#saveForm{
	margin-top: 10px !important;
}
.selectForm{
	padding-bottom: 10px;
	border-bottom: solid 1px #8b8888;
	
}


.textArea{
		color: #394049;
	    max-height: 32px !important;
	    font-size: 14px !important;
	    width: 100% !important;
	    border: 0  !important;
	    display: block !important;
	    background-color: #ffffff !important;
	    background: #ffffff !important;
	    margin: 0 auto !important;
	    line-height: 10px !important;
	    overflow: hidden !important;
	    border-radius: 0 !important;
	    padding: 6px 4px 6px 11px !important;
	    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box; 
		}
select.textArea{
	    -webkit-appearance: menulist !important;
}
input.textArea{
	cursor: text;
}

#tagSelector{
	border-bottom: solid 1px #8b8888;
    padding-top: 0px;
    padding-bottom: 0px;
	font-size: 20px;
}
#tagSelector .titleTag{
	display: inline-block;
	color: #ffffff;
	font-weight: bold;
}

.veCaptureWidget{
      position: fixed;
      width: 300px;
      left: 0;
      display : block ;
      background-color : #394049;
      top :0;
      text-align: center;
      transition: all 0.5s ease 0s;
      z-index: 999999;
      opacity: 0.9;
}
.veCaptureWidget *{
	font-size: 14px;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	-webkit-appearance: normal !important;
 	appearance:field !important;

}
.veCaptureWidget .groupFrom{
	padding: 10px;
	display: inline-block;
}

.widgethideButton{
  	background-color: #438f2f;
	border: 0;
	border-color: none;
	border-radius: 0;
	margin-top: 10px;
	min-width: 8rem;
	max-width: 9rem;
	color: black;
	padding: 5px;
	transition: all 0.3s ease 0s;
	opacity: 0.9;
}
.widgethideButton:hover{
	background-color: #4ebc31;
}
/*#wholeUrl{
		color: #394049;
		height: 32px;
	    font-size: 14px !important;
	    width: 100% !important;
	    border: 0  !important;
	    display: block !important;
	    background-color: #ffffff !important;
	    background: #ffffff !important;
	    margin: 0 auto !important;
	    line-height: 10px !important;
	    overflow: auto !important;
	    border-radius: 0 !important;
	    padding: 6px 4px 6px 11px !important;
	    -webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box;    
		box-sizing: border-box; 
		transition: all 0.3s ease 0s;
}
#wholeUrl:hover{
	height: 100px;
}*/
.tooltip {
    position: relative;
}

.tooltip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .toolTipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .toolTipText {
    visibility: visible;
    opacity: 1;
}